<%# Apartments index: full-width map with togglable list %>
<div data-controller="map" class="map-page">
  <button type="button"
          class="map-list-toggle"
          data-map-target="toggleButton"
          data-action="click->map#toggle"
          aria-controls="map-list"
          aria-expanded="false">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="margin-right: 8px;">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
    <%= t("apartments.index.toggle_list", default: "Apartments") %>
  </button>

  <div id="map"
       data-map-target="map"
       aria-label="<%= t('apartments.index.map_aria', default: 'Map showing apartments') %>">
  </div>

  <aside id="map-list"
         class="map-list-panel"
         data-map-target="list"
         aria-live="polite"
         aria-label="<%= t('apartments.index.list_title', default: 'List of apartments') %>">
    <header class="panel-header">
      <h3><%= t("apartments.index.list_title", default: "List") %></h3>
    </header>
    <div class="panel-body">
      <ul class="apartments-list"></ul>
    </div>
  </aside>
</div>
